#sidebar-toggle{
    display: none;
    &:checked ~ .sidebar{
        left: -100%;
        @media (max-width: 1124px){
            left: 0;
        }
    }
    &:checked ~ .main-content header{
        left: 0;
        right: 100%;
        width: 100%;
    }
    &:checked ~ .main-content{
        margin-left: 0%;
    }
    &:checked ~ .body-label{
        right: 0;
    }
}
.body-label{
    position: fixed;
    width: calc(100% - 280px);
    height: 100%;
    z-index: 30;
    right: -100%;   
    top: 0;
}
.sidebar{
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: #fff;
    color: #000;
    border-right: 1px solid #ccc; 
    z-index: 20;
    transition: left 300ms;
    @media (max-width: 1124px){
        left: -100%;
        z-index: 30;
    }
    &-brand{
        height: 70px;
    }
    .brand-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-main{
        ul{
            list-style-type: none;
            margin-bottom: 1.5rem;
            li{
                margin-bottom: .3rem;
                padding: 10px;
                cursor: pointer;
                &.active, &:hover{
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    a{
                        color: var(--dark-green);
                    }
                }
                a{
                    color: var(--black);
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    span{
                        font-size: 20px;
                        margin-right: .8rem;
                    }
                }
            }
        }
    }
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem 1rem 1.5rem;
    background: var(--light-green);
    position: fixed;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
    z-index: 20;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    @media (max-width: 1124px){
        left: 0%;
        width: 100%;
    }
    .menu-toggle{
        
        label{ 
            width: 48px;
            height: 48px;
            font-size: 1.2rem;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            @media screen and (max-width: 767px) {
                display: flex;
            }
            &:hover{
                background: #efefef;
            }
        }
        h3 {
            color: var(--dark-green);
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .header-icons {
        a {
            padding: 10px 15px;
            background: var(--white);
            color: var(--dark-green);
            border: none;
            cursor: pointer;
            border: 1px solid var(--dark-green);
            border-radius: 5px;
            transition: 300ms;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                background: var(--dark-green);
                color: var(--white);
            }
        }
    }
}